/* App.css */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  width: '100%';
}

.titleBar {
  background-color: #a29bfe;
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  height: 100px;
  text-align: center;
}

.formContainer{
  position: absolute;
  top:150px;
  bottom:100px;
  width: 500px;
  align-items: center;
  align-content: center;
}

.formSubContainer {
}
.inputNumber{
  display: grid;
  grid-template-columns: 300px 300px;
  width: 100%;
}

.label {
}
.radioButtonContainer{
 display: grid;
 grid-template-columns: 200px 200px 200px;
}
h1 {
  color: #333;
}

input[type='file'] {
  margin-bottom: 10px;
}

input[type='number'],
input[type='text'] {
  margin-bottom: 10px;
  padding: 5px;
}

.radioButtonContainer {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

p {
  margin-top: 10px;
}
